@import "./custom-colors.css";
@import "./carousel.css";

@font-face {
    font-family: RussoOne-Regular; /* Гарнитура шрифта */
    src: url(../fonts/RussoOne-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Pacifico-Regular; 
    src: url(../fonts/Pacifico-Regular.ttf); 
}

@font-face {
    font-family: Neucha-Regular; 
    src: url(../fonts/Neucha-Regular.ttf); 
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #fff;
    background: #0e0e0e;
}

*,
*::after,
*::before,
*:hover{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

ul, li{
    margin: 0;
    padding: 0;
}

.wrapper{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* ageverification */

.wrapper__ageverification{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #0e0e0e;
    z-index: 1001;
    font-family: RussoOne-Regular;
    opacity: 0.95;
}

.ageverification{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ageverification__text{
    font-size: 36px;
    color: #e7e751;
    text-align: center;
}

.btn-no,
.btn-yes{
    margin: 30px;
    padding: 10px;
    cursor: pointer;
    font-family: RussoOne-Regular;
}

.btn-yes:hover{
    background: green;
}

.btn-no:hover{
    background: red;
}

.ageverification__failed{
    font-size: 50px;
    color: #e7e751;
    text-align: center;
}

.wrapper__ageverification--show{
    display: block;
}

/* header */

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__line{
    width: 100%;
    position: fixed;
    height: 56px;
    background-color: #0e0e0e;

    transition: box-shadow .1s linear;
}

.header__line--visible{
    box-shadow: 0 2px 10px #e7e751;
    transition: box-shadow .5s linear;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #0e0e0e;
    transition: top .4s cubic-bezier(0.13, 1.19, 0.79, 0.85);
}

.header_fixed-large {
    top: 10px;
    transition: top .2s linear;
}

.header__logo{
    font-family: RussoOne-Regular;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: color .2s; 
}

.header__logo:hover{
    color: #e7e751;
}

.header__logo:hover .triangle--top{
    border-bottom: 18px solid #e7e751;
}

.triangle {
    position: relative;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 18px solid white;
}

.triangle--top{
    top: -27px;
    left: 10px;
}

/* navigation */

.navigation{
    text-transform: uppercase;
}

.nav__link{
    position: relative;
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    font-size: 18px;
    transition: color .2s linear;
}

.nav__link:last-child{
    margin-right: 0;
}

.nav__link:hover{
    color: #e7e751;
    
}

.nav__link:after {
    content: "";
    width: 100%;
    height: 2px;
    opacity: 0;

    background-color: #e7e751;
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: 1;

    transition: opacity .2s linear;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__toggle {
    display: none;
    width: 30px;
    padding: 10px 0;
    position: absolute;
    right: 24px;
    bottom: 8px;
    color: rgb(230, 23, 23);
    z-index: 1;
    border: 0;
    background: none;
    font-size: 0;
    color: transparent;
    cursor: pointer;
}

.toggle__item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: background-color .2s linear;
}

.toggle__item::after, .toggle__item::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: transform .2s linear;
    position: absolute;
    left: 0;
    z-index: 1;
} 

.toggle__item::after{
    top: 8px;
}

.toggle__item::before{
    top: -8px;
}

.nav__toggle.active .toggle__item::after {
    transform-origin: left bottom;
    transform: rotate(45deg) translateY(0px);
}

.nav__toggle.active .toggle__item::before {
    transform-origin: left top;
    transform: rotate(-45deg) translateY(0px);
}

.nav__toggle.active .toggle__item {
    background: none;
}

.nav__toggle.active .toggle__item::after {
    top: -13px;
    background-color: #e7e751;
}

.nav__toggle.active .toggle__item::before {
    top: 9px;
    background-color: #e7e751;
}

/* aboutme */

.aboutme__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutme__intro{
    width: auto;   
}

.aboutme__img{
    width: 50%;
    border-radius: 5%;
}

.aboutme__name{
    font-family: RussoOne-Regular;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    color: #fff;
    top: 0;
}

.aboutme__occupation{
    font-family: Neucha-Regular; 
    font-size: 40px;
    font-weight: 100;
    color: #fff;
    align-items: center;
    padding: 25px 0;
}

.btn__kamaschool{
    position: relative;
    height: 40px;
    width: 100px;
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
}

.main{
    position: relative;
    width: 100%;
    /* height: 100vh; */
    background: #0e0e0e;
    margin: 130px 0 40px;
}

.aboutme__info:hover .btn__kamaschool {
    color: #e7e751;
}


/* line */
.line__container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #e7e751;
    padding: 30px 0;
    margin: 20px 0;
    border-radius: 15px;
    cursor: pointer;
}

.line__title{
    width: 90%;
    font-family: RussoOne-Regular;
    font-size: 37px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    color: #0e0e0e;
}

.line__title--smaller{
    font-size: 30px;
    font-family: Neucha-Regular; 
    padding: 0 0;
}

.line__button{
    padding: 0;
    margin-left: 10px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    position: relative;
    height: 50px;
    width: 50px;
    border: 3px solid #0e0e0e;
    border-radius: 50%;
    cursor: pointer;
}

.button__arrow{
    height: 45%;
    width: 45%;
    border-left: 3px solid #0e0e0e;
    border-bottom: 3px solid #0e0e0e;
    position: absolute;
    transform: rotate(136deg);
    top: 18px;
    left: 13px;
}

.arrow--down{
    transform: rotate(313deg);
    top: 8px;
    left: 12px;
}

/* .line__container:hover .line__button{
    box-shadow: 0px 0px 3px 1px #0E0E0E;
} */

.line__button_active{
    box-shadow: 0px 0px 3px 1px #0E0E0E;
}

/* services */

.services__emotion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.emotion__item{
    position: relative;
    width: 20%;
    cursor: pointer;
}

.emotion__img{
    width: 100%;
    padding: 15px;
    border-radius: 15%;
}

.emotion__text{
    font-family: Neucha-Regular; 
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    font-size: 26px;
    text-shadow: 1px 1px 2px black;
    font-weight: 500;
    color: #fff;
    text-align: center;
    opacity: 0;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 2;
    transition: opacity .2s linear;
}

.emotion__item:hover .emotion__text{
    opacity: 1;
}


/* number-block */

.number-block{
    margin: 40px auto;
    text-align: center;
}

.number-block--top-space{
    padding-top: 20px
}

.number-block__number{
    margin: 0 auto;
    width: 50px;
    height: 50px;
    color: #0e0e0e;
    font-size: 30px;
    font-weight: 900;
    border-radius: 50%;
    background-color: #e7e751;
    line-height: 50px;
}

.number-block__title{
    color: #fff;
    font-size: 38px;
    font-weight: 800;
    padding: 40px 0;
}

.number-block__text{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 40px;
}

.number-block__phone{
    text-decoration: none;
    color: #fff;
}

.number-block__text--note{
    font-family: Neucha-Regular;
    font-size: 24px;
}

.number-block__text--bold{
    font-weight: 800;
}

.number-block--line::after{
    content: "";
    display: block;
    width: 120px;
    height: 4px;
    border-radius: 10px;
    background-color: #e7e751;
    margin: 60px auto;
}

.number-block__title--padding{
    padding: 0 0 20px 0;
}

.number-block__title--bottom{
    padding: 40px 0 0 0;
}

.number-block__text--padding{
    padding: 0 0 20px 0;
}

.number-block__email{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

.number-block__phone--hover:hover{
    color: #e7e751;
}

.number-block__social-icons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

/* icons */

.icon-img{
    width: 40%;
    margin: 20px;
    transition: transform .2s linear;
}

.icon-img:hover{
    transform: scale(1.3);
}

/* list */

.list_container{
    text-align: center;
}

.list__items{
    list-style: none;
    display: inline-block;
    text-align: left;
    margin: 0;
}

.list__item{
    color: #fff;
    text-align: left;
    font-size: 20px;
    line-height: 1.8em;
}

.list__item::before{
    content: "\2022";
    color: #e7e751;
    font-weight: 900; 
    display: inline-block;
    font-size: 24px;
    width: 1.4em; 
}

.list__item--note{
    list-style-type: none;
    font-family: Neucha-Regular;
    font-size: 20px;
    line-height: 30px;
}

.list__item--note::before{
    content: none;
}

/* sex */

.sex__items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: #fff;
}

.sex__title{
    font-family: Neucha-Regular; 
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}

.sex__list{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-transform: lowercase;
    text-align: left;
    font-size: 17px;
    margin: 30px 0 0 0;
}

.sex__list-item{
    padding: 5px 0 0 10px;
}

.sex__list-item::before{
    content: "\2022";
    color: #e7e751;
    font-weight: 900; 
    display: inline-block;
    width: 1.4em; 
}


/* symbol */

.symbol__holder{
    position: relative;
}

.symbol__item{
    position: absolute;
    color: #e7e751;
    font-size: 70px;
    top: 0;
    left: -46px;
}

/* main-task */

.main-task__img{
    padding: 7px 7px 0 7px;
    float: right;
    width: 50%;
    height: auto;
    border-radius: 15px;
}


/* price */

.price__list{
    display: flex;
    justify-content: space-between;

}
.price__item{
    width: 33%;
    text-align: center;
}

.price__title {
    font-family: Neucha-Regular;
    font-size: 30px;
    line-height: 30px;
    padding: 20px 0;
}
.price__cost {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    padding: 20px 0;
    color: #e7e751;
}
.price__time {
    font-size: 20px;
    line-height: 30px;
    padding: 20px 0;
}

.price__text{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #e7e751;
}

/* accordion */
.accordion__wrapper--non-active{
    display: none;
}

/* media */
@media(max-width: 1230px) {
    
    .nav__link {
        margin: 0 15px;
        font-size: 15px;
    }
    
    .main{
        padding-right: 20px;
        padding-left: 20px;
        height: 100%;
    }

    .header__inner{
        padding-left: 20px;
        padding-right: 20px;
    }

    .aboutme__name {
        font-size: 55px;
        font-weight: 600;
    }

    .aboutme__occupation {
        font-size: 32px;
    }

    .aboutme__img {
        width: 41%;
        border-radius: 5%;
    }
    
    .aboutme__intro{
        text-align: center;
    }

    .line__title {
        font-size: 34px;
    }

    .emotion__item {
        width: 20%;
    }

    .line__title--smaller {
        font-size: 27px;
        width: 100%;
    }

    .carousel__wrapper {
        width: 70%;
    }

    .btn_prev, .btn_next {
        padding: 10px;
    }

    .list__items {
        padding: 0 40px;
    }
}

@media(max-width: 1030px) {

    .navigation__active {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background: #0e0e0e;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 12px 20px;
    }

    .nav__link:first-of-type {
        padding-top: 20px;
    }
}

@media(max-width: 990px) {

    .navigation__active {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background: #0e0e0e;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 12px 20px;
    }

    .nav__link:first-of-type {
        padding-top: 20px;
    }

    .aboutme__info{
        flex-direction: column;
    }

    .aboutme__name {
        font-size: 40px;
        font-weight: 500;
    }

    .aboutme__occupation {
        font-size: 26px;
        padding: 10px 0;
    }

    .emotion__item {
        width: 26%;
    }

    .header__inner{
        top: 12px;
    }

    .main{
        margin-top: 65px;
    }
    
    .line__container{
        width: 90%;
        margin: 20px auto;
    }

}

@media(max-width: 770px) {

    .aboutme__img{
        min-width: 55%;
    }

    .number-block__title{
        font-size: 30px;
    }

    .number-block__text{
        font-size: 25px;
    }

    .carousel__wrapper {
        width: 100%;
    }

    .price__list{
        flex-direction: column;
        align-items: center;
    }

    .price__item {
        width: 80%;
    }

    .number-block__email {
        font-size: 22px;
    }

    .number-block__text--note {
        font-size: 19px;
        padding: 0 10px;
    }

    .line__title {
        font-size: 22px;
    }

    .emotion__item {
        width: 45%;
    }

    .line__container{
        padding-left: 25px;
        padding-right: 25px;
    }

    .sex__items {
        flex-direction: column;
    }

    .line__title--smaller {
        font-size: 22px;
    }

    .line__button {
        height: 40px;
        width: 40px;
    }
    
    .button__arrow {
        top: 13px;
        left: 10px;
    }

    .line__button_active {
        box-shadow: 0px 0px 2px 1px #0e0e0e;
    }

    .arrow--down {
        top: 7px;
        left: 10px;
    }

    .ageverification__text{
        font-size: 26px;
    }

    .btn-no, .btn-yes {
        margin: 30px 10px 0;
    }

    .ageverification__failed {
        font-size: 26px;
    }

}

@media(max-width: 575px) {

    .aboutme__img{
        min-width: 55%;
    }

    .services__emotion {
        flex-direction: column;
    }

    .emotion__item {
        width: 64%;
    }

    .list__item {
        font-size: 15px;
        line-height: 1.4em;
    }

    .line__title--smaller {
        font-size: 19px;
    }

    .line__container {
        padding: 10px 15px;
        margin: 10px auto;
    }
    
    .sex__title{
        font-size: 20px;
    }

    .sex__list{
        margin: 10px 0;
    }

    .sex__list-item{
        font-size: 15px;
    }

    .main-task__img{
        display: block;
        margin: 0 auto;
        float: none;
        width: 80%;
    }

    .list__items{
        padding: 0 15px;
    }

    .symbol__item {
        left: -25px;
        top: 15px;
    }
}

@media(max-width: 450px) {

    .line__button{
        border: 2px solid #0e0e0e;
    }

    .line__button {
        height: 30px;
        width: 30px;
        margin-left: 0px;        
    }

    .line__title{
        font-size: 19px;
    }
    
    .button__arrow {
        border-left: 2px solid #0e0e0e;
        border-bottom: 2px solid #0e0e0e;
        top: 10px;
        left: 8px;
    }

    .arrow--down {
        top: 5px;
        left: 8px;
    }
}