@import "./custom-colors.css";
@import "./carousel.css";

@font-face {
    font-family: RussoOne-Regular; /* Гарнитура шрифта */
    src: url(../fonts/RussoOne-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Pacifico-Regular; 
    src: url(../fonts/Pacifico-Regular.ttf); 
}

@font-face {
    font-family: Neucha-Regular; 
    src: url(../fonts/Neucha-Regular.ttf); 
}



body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #fff;
}

*,
*::after,
*::before,
*:hover{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

ul, li{
    margin: 0;
    padding: 0;
}

.wrapper{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-family: RussoOne-Regular;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}

.nav__text{
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
    font-size: 18px;
}

/* aboutme */

.aboutme__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutme__img{
    width: 50%;
    height: 50%;
    border-radius: 5%;
}

.aboutme__name{
    font-family: RussoOne-Regular;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    color: #fff;
    top: 0;
}

.aboutme__ocupation{
    font-family: Neucha-Regular; 
    font-size: 40px;
    font-weight: 100;
    color: #fff;
    align-items: center;
    padding: 25px 0;
}

.btn__kamaschool{
    position: relative;
    height: 40px;
    width: 100px;
   
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
}

.main{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../src/bg-main.png) center no-repeat;
    background-size: cover;
    padding-top: 130px;
}

main:hover .btn__kamaschool {
    color: #e7e751;
}

.servises__text{
    width: 100%;
    font-family: RussoOne-Regular;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    color: #0e0e0e;
    top: 0;
    text-align: center;
    align-items: center;
    background-color: #e7e751;
    padding: 30px 0;
}

.servises__text--smaller{
    font-size: 30px;
    font-family: Neucha-Regular; 
    padding: 0 0;
}

.servises{
    background: #0e0e0e;
}

.servises__emotion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 45px 0 45px 0;
}

.emotion__item{
    position: relative;
    width: 33%;
    cursor: pointer;
}

.emotion__img{
    width: 100%;
    padding: 15px;
    border-radius: 10%;
}

.emotion__img--text{
    font-family: Neucha-Regular; 
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    font-size: 28px;
    text-shadow: 1px 1px 2px black;
    font-weight: 500;
    color: #fff;
    text-align: center;
    opacity: 0;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 2;
    transition: opacity .2s linear;
}

.emotion__item:hover .emotion__img--text{
    opacity: 1;
}

.work{
    margin: 0 auto;
    text-align: center;
}

.work__item{
    padding-bottom: 40px;
}

.work__number{
    margin: 0 auto 40px;
    width: 50px;
    height: 50px;
    color: #0e0e0e;
    font-size: 30px;
    font-weight: 900;
    border-radius: 50%;
    background-color: #e7e751;
    line-height: 50px;
}

.work__title{
    color: #fff;
    font-size: 38px;
    font-weight: 800;
    padding-bottom: 40px;
}

.work__text{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}

.help_container{
    padding-top: 40px;
    text-align: center;
}

.help__list{
    list-style: none;
    display: inline-block;
    text-align: left;
    margin: 0;
    padding-bottom: 40px;
}

.help__item::before{
    content: "\2022";
    color: #e7e751;
    font-weight: 900; 
    display: inline-block;
    font-size: 24px;
    width: 1.4em; 
}

.help__item{
    text-align: center;
    color: #fff;
    text-align: left;
    font-size: 20px;
    line-height: 1.8em;
}

.help__img{
    width: 50%;
    border-radius: 5%;
}

.sex__help{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: #fff;
    padding: 40px 0 50px;
}

.sex__title{
    font-family: Neucha-Regular; 
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}

.sex__list{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-transform: lowercase;
    text-align: left;
    font-size: 17px;
    margin: 0;
    padding-top: 40px;
}

.sex__item{
    padding: 5px 0 0 10px;
}

.sex__item::before{
    content: "\2022";
    color: #e7e751;
    font-weight: 900; 
    display: inline-block;
    width: 1.4em; 
}

.work__title--color{
    color: #e7e751;
    text-transform: uppercase;
}

.help__list--padding{
    padding-top: 40px;
}

.help__item--note{
    list-style-type: none;
    font-family: Neucha-Regular;
    font-size: 20px;
    line-height: 30px;
}

.help__item--note::before{
    content: none;
}

.help__list--spase{
    padding: 40px 0;
    margin-left: 50px;
}

.help__img{
    margin: 7px 7px 0 7px;
    float: right;
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.symbol{
    position: absolute;
}

.symbol__item{
    position: absolute;
    color: #e7e751;
    font-size: 70px;
    top: 1px;
    left: -46px;
}

.work__item--spase{
    padding-top: 50px;
}

.work__phone{
    text-decoration: none;
    color: #fff;
}

.main-task__item{

}

.main-task__img{
    margin: 7px 7px 0 7px;
    float: right;
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.price__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price__item{
    width: 33%;
}


/* media */
@media(max-width: 1230px) {}
@media(max-width: 990px) {}
@media(max-width: 770px) {}
@media(max-width: 575px) {}