@import url(../css/index.css);

@font-face {
    font-family: 'Snell Roundhand'; /* Гарнитура шрифта */
    src: url(../fonts/Snell\ Roundhand.ttf); /* Путь к файлу со шрифтом */
}

body{
    background: linear-gradient(to right, #8E0E00, #1F1C18);
    color: white;
}

.introduction__title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction{
    padding-top: 60px;
    background-image: url(../src/page2/bg-hanna-red.png);
    background-repeat: no-repeat;
    background-position: left;
}

.introduction__logo{
    width: 30%;
    padding: 50px;
}

.introduction__info{
    width: 69%;
}

.introduction__text{
    font-family: 'Snell Roundhand';
    font-size: 36px;
    font-weight: 400;
    text-indent: 3ch;
}

.introduction__autour{
    display: block;
    color: white;
    padding-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 200;
    font-style: italic;
    text-align: right;
    text-decoration: none;
}

.introduction__programme{
    padding: 30px 0;
    line-height: 3em;
}

.programme__text{
    text-indent: 3ch;
    font-size: 30px;
}

.programme__title{
    font-size: 40px;
    line-height: 60px;
    margin: 0 0 30px 0;
}

.programme__content{
    
}


